* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: rgb(27, 14, 80);
    max-width: 600px;
    height: 200px;
    margin: auto;
    /* display: block; */
    position: relative;
    top: 200px;
}

.child {
    background-image: url("../Asset/cover.jpg");
    background-size: cover;
    width: 200px;
    height: 100px;
    position: relative;
    /* margin: auto; */
    margin-left: auto;
    top: -10px;
    right: -20px;
    border-radius: 8px;
}

.spe {
    font-weight: 600;
    background-color: rgb(219, 227, 255);
    position: relative;
    right: -20px;
    width: 200px;
    margin-left: auto;
    color: gray;
    display: flex;
    border-radius: 9999px;
}

p {
    /* background-color: red; */
    font-size: 12px;
    padding: 5px;
    margin: 5px auto;
    padding: 0;
    max-width: auto;
}

.isian {
    max-width: 200px;
    /* background-color: aliceblue; */
    color: antiquewhite;
    position: absolute;
    top: 10px;
    left: 10px;
    /* top: -20px; */
}

.nama {
    font-weight: 600;
}